@model IEnumerable<ETicaret.Core.Entities.Category>
@{
}

@foreach(var parentcategory in Model.Where(c=>c.IsActive && c.IsTabMenu && c.ParentId==0)){
    
    <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    @parentcategory.Name
  </button>

  <ul class="dropdown-menu">
            @foreach (var item in Model.Where(c => c.IsActive && c.IsTabMenu && c.ParentId == parentcategory.Id))
            {
                <li><a class="dropdown-item" href="/Categories/Index/@item.Id">@item.Name</a></li>
            }
  </ul>
</div>

}

<@* div class="dropdown">
        <a class="btn  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            @parentcategory.Name
        </a>

        <ul class="dropdown-menu">>
            @foreach (var item in Model.Where(c => c.IsActive && c.IsTabMenu && c.ParentId == parentcategory.Id))
            {
                <li><a class="dropdown-item" href="#">@item.Name</a></li>
            }
        </ul>
    </div> *@
